[![Binder](http://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/EconomicsObservatory/courses/HEAD?labpath=5%2Fs5_Scraping.ipynb)

<a href="https://colab.research.google.com/github/EconomicsObservatory/courses/blob/main/5/s5_Scraping.ipynb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scraping the HTML source (advanced)

Sometimes we want to access data that isn't as nicely formatted. For example:

- **Prices**: you might want data on a type of product or from a shop
- **Weather**: maybe you want to automate the collection of weather data from the Met office or weather.com
- **News and Media**: Scraping headlines and summaries can tell you about current affairs

In this example, we will scrape the Economics Observatory website to collect the latest article names and taglines to tell us about what is being reported.

## Investigating the webpage

Before writing any code, let's take a look at the webpage.

<img
style="max-height: 250px;
    width: auto;" src="https://raw.githubusercontent.com/jhellingsdata/RADataHub/main/misc/Masterclass/section%205/images/eco_website.png"> </img>

We want to extract a list of article titles, such as "What do we know about labour market power in the UK?". To do this, we need to know where they appear in the HTML and how they are defined. By using inspect-element (right/ctrl click), we can see the HTML code that creates the titles.

<img
style="max-height: 250px;
    width: auto;" src="https://raw.githubusercontent.com/jhellingsdata/RADataHub/main/misc/Masterclass/section%205/images/inspect_element.png"> </img>

Here we can see that article titles have the class "home__blocks-item-title". We'll use this information to extract just the article titles.

Before we start writing code to scrape, we need to install and load the packages we need.

In [1]:
%pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
# First we need to import the libraries we will be using
import pandas as pd
import requests
from bs4 import BeautifulSoup
from collections import Counter

## Scraping the page

First, we'll download the HTML which defines the page, using the requests module.

In [3]:
req = requests.get("https://www.economicsobservatory.com") # Make a request to the ECO home-page
page_html = req.text # store the HTML in page_html

Now we have the page's source stored in {{page_html}}. Next we're going to use a module called BeautifulSoup to turn this text into a representation of the page we can interact with. We'll store this in a variable called {{soup}}.

In [4]:
soup = BeautifulSoup(page_html, 'html.parser') # Create a BeautifulSoup object to interact with the page's HTML

Now we'll look for article titles by searching for elements with the class "home__blocks-item-title" which we identified above.

In [5]:
article_title_elements = soup.find_all(class_="home__blocks-item-title") # Find all elements with the class "home__blocks-item-title"
article_title_elements

[<h3 class="home__blocks-item-title">What is the state of the UK economy in early 2024?</h3>,
 <h3 class="home__blocks-item-title">Ukraine: what’s the global economic impact of Russia’s invasion?</h3>,
 <h3 class="home__blocks-item-title">Could a new policy institution help solve the UK’s productivity problem?</h3>,
 <h3 class="home__blocks-item-title">What can the UK learn from the latest global data on pupil performance?</h3>,
 <h3 class="home__blocks-item-title">What would be the effects of abolishing or reforming inheritance tax?</h3>,
 <h3 class="home__blocks-item-title">Read the latest edition of our magazine here</h3>,
 <h3 class="home__blocks-item-title">How much revenue might be raised by a one-off wealth tax?</h3>,
 <h3 class="home__blocks-item-title">Update: How did personality affect mental health during the pandemic?</h3>,
 <h3 class="home__blocks-item-title" style="text-align: left;">Components of UK Inflation</h3>,
 <h3 class="home__blocks-item-title">How can we reduce gender gaps in mathematics education?</h3>,
 <h3 class="home__blocks-item-title">How have minorities been treated by the UK’s judicial system?</h3>,
 <h3 class="home__blocks-item-title">How are plastics harming marine ecosystems?</h3>,
 <h3 class="home__blocks-item-title">How might house prices affect workers’ productivity in OECD economies?</h3>,
 <h3 class="home__blocks-item-title">#studentviews: How can young doctors be discouraged from leaving the NHS?</h3>]

We now have a list of HTML tags containing titles but all we care about is the text within them.

In [6]:

article_titles = [element.text for element in article_title_elements] # Extract the text from each element
article_titles

['What is the state of the UK economy in early 2024?',
 'Ukraine: what’s the global economic impact of Russia’s invasion?',
 'Could a new policy institution help solve the UK’s productivity problem?',
 'What can the UK learn from the latest global data on pupil performance?',
 'What would be the effects of abolishing or reforming inheritance tax?',
 'Read the latest edition of our magazine here',
 'How much revenue might be raised by a one-off wealth tax?',
 'Update: How did personality affect mental health during the pandemic?',
 'Components of UK Inflation',
 'How can we reduce gender gaps in mathematics education?',
 'How have minorities been treated by the UK’s judicial system?',
 'How are plastics harming marine ecosystems?',
 'How might house prices affect workers’ productivity in OECD economies?',
 '#studentviews: How can young doctors be discouraged from leaving the NHS?']

We also care about the taglines/'teasers' of each article.

These are contained in \<spans\> and \<p\> tags contained in divs with the class "home__blocks-item-teaser display"

In [7]:
# find all divs with the class "home__blocks-item-teaser display"
tagline_divs = soup.find_all(class_="home__blocks-item-teaser display")
# get all the <p> tags from the tagline_divs
taglines = [div.find("p") for div in tagline_divs]
# extract the text from each tag
tagline_texts = [tagline.text for tagline in taglines]
tagline_texts

['The Office for National Statistics recently released fresh data on the UK’s labour market, inflation and GDP. While trends in prices and wages have improved conditions for many households, the economy has contracted since early 2022. Prospects for renewed growth are positive but weak.',
 'New data from the OECD reveal how teenagers around the world are doing at school. The results for the UK are above average – and there hasn’t been the same big drop in scores as in some other places. But there remain significant social concerns, with over one in ten children going hungry.',
 'Inheritance taxes aim to raise revenue and reduce inequality of opportunity arising from differences in parental wealth. But current UK policy has little impact on social mobility. Scrapping the tax would benefit the wealthiest, while reforms could reduce unfairness and negative economic effects.',
 'If the government decides to raise taxes after the pandemic, an alternative to taxes on work or spending could be a one-off wealth tax. A well-designed tax of this kind could raise significant revenue in a fair and efficient way without excessive administrative costs.',
 'Different personality traits affected people’s responses to the lockdown and social restriction measures introduced during the pandemic – and how their mental health fared. Evidence from those times can help to inform more effective and tailored treatments to improve wellbeing.',
 'Underperformance by girls and young women in mathematics relative to their male peers is a loss of talent that may hinder productivity growth. New developments in our understanding of how gender stereotypes originate and evolve can help us to reduce gender differences in achievement.',
 'Disparate treatment of minorities by the judicial system is not a construct of modern institutions. Irish defendants and victims faced harsher treatment and outcomes at London’s Old Bailey in the 19th century. Lessons from this period can help to inform criminal justice policy today.',
 'Higher house prices may be partly to blame for the sluggish growth of labour productivity in the OECD countries in recent decades. The adverse impact seems to be less severe in more complex economies – those that produce a greater diversity of products based on specialised know-how.',
 'With many junior doctors leaving the NHS workforce to pursue careers elsewhere, staff shortages look likely to worsen over the coming months. Short of meeting unions’ wage demands, improvements in working conditions could make some contribution to addressing this challenge.']

And where from here?
We now have a list of articles, how could this be useful?

- **Automated News Roundups**: you could write code to collect news titles each day to produce a daily roundup
- **Sentiment Analysis**: If you scale up the data collection, you could perform [sentiment analysis](https://en.wikipedia.org/wiki/Sentiment_analysis) to learn about the emotional valience of news stories.

### Making a Chart: Term Frequencies

Today, we can make a chart of term frequencies from the headlines. This will tell us about the topics covered by the website.

To do this, we will:

1. Define a list of common words to avoid (e.g. "the", "how", "should")
2. Work out how many times each word appears, excluding the common words
3. Save our data

#### 1: Make a long list of every word

In [8]:
word_list = [] # Create an empty list to store the words

article_titles_and_taglines = article_titles+tagline_texts # Combine the article titles and taglines into one list

for text in article_titles_and_taglines: # Loop through each article title and tagline
  words_in_text = text.split() # Split the text into words so we can loop through each word
  for word in words_in_text: # Loop through each word
    lowercase_word = word.lower() # Convert the word to lowercase
    word_excl_punc = lowercase_word.replace(".", "").replace(",", "").replace("?","") # Remove punctuation
    word_list.append(word_excl_punc) # Add the word to the word_list

#### 2: Count how many times each word appears
For this we'll use Counters, which take a list and return an object showing how many times each item appears

In [ ]:
word_counter = Counter(word_list)

word_counter

Counter({'what': 3,
         'is': 3,
         'the': 32,
         'state': 1,
         'of': 13,
         'uk': 4,
         'economy': 2,
         'in': 17,
         'early': 2,
         '2024': 1,
         'ukraine:': 1,
         'what’s': 1,
         'global': 2,
         'economic': 2,
         'impact': 3,
         'russia’s': 1,
         'invasion': 1,
         'could': 5,
         'a': 8,
         'new': 3,
         'policy': 3,
         'institution': 1,
         'help': 4,
         'solve': 1,
         'uk’s': 3,
         'productivity': 4,
         'problem': 1,
         'can': 6,
         'learn': 1,
         'from': 6,
         'latest': 2,
         'data': 3,
         'on': 5,
         'pupil': 1,
         'performance': 1,
         'would': 2,
         'be': 6,
         'effects': 2,
         'abolishing': 1,
         'or': 2,
         'reforming': 1,
         'inheritance': 2,
         'tax': 5,
         'read': 1,
         'edition': 1,
         'our': 2,
         'magazine': 1,
         'here': 1,
         'how': 10,
         'much': 1,
         'revenue': 3,
         'might': 2,
         'raised': 1,
         'by': 4,
         'one-off': 2,
         'wealth': 3,
         'update:': 1,
         'did': 1,
         'personality': 2,
         'affect': 2,
         'mental': 2,
         'health': 2,
         'during': 2,
         'pandemic': 3,
         'government': 2,
         'investment': 1,
         'we': 1,
         'reduce': 4,
         'gender': 3,
         'gaps': 1,
         'mathematics': 2,
         'education': 1,
         'have': 2,
         'minorities': 2,
         'been': 2,
         'treated': 1,
         'judicial': 2,
         'system': 2,
         'are': 4,
         'plastics': 1,
         'harming': 1,
         'marine': 1,
         'ecosystems': 1,
         'house': 2,
         'prices': 3,
         'workers’': 1,
         'oecd': 3,
         'economies': 2,
         '#studentviews:': 1,
         'young': 2,
         'doctors': 2,
         'discouraged': 1,
         'leaving': 2,
         'nhs': 2,
         'office': 1,
         'for': 5,
         'national': 1,
         'statistics': 1,
         'recently': 1,
         'released': 1,
         'fresh': 1,
         'labour': 2,
         'market': 1,
         'inflation': 1,
         'and': 13,
         'gdp': 1,
         'while': 2,
         'trends': 1,
         'wages': 1,
         'improved': 1,
         'conditions': 2,
         'many': 2,
         'households': 1,
         'has': 2,
         'contracted': 1,
         'since': 1,
         '2022': 1,
         'prospects': 1,
         'renewed': 1,
         'growth': 3,
         'positive': 1,
         'but': 3,
         'weak': 1,
         'reveal': 1,
         'teenagers': 1,
         'around': 1,
         'world': 1,
         'doing': 1,
         'at': 2,
         'school': 1,
         'results': 1,
         'above': 1,
         'average': 1,
         '–': 3,
         'there': 2,
         'hasn’t': 1,
         'same': 1,
         'big': 1,
         'drop': 1,
         'scores': 1,
         'as': 1,
         'some': 2,
         'other': 1,
         'places': 1,
         'remain': 1,
         'significant': 2,
         'social': 3,
         'concerns': 1,
         'with': 2,
         'over': 2,
         'one': 1,
         'ten': 1,
         'children': 1,
         'going': 1,
         'hungry': 1,
         'taxes': 3,
         'aim': 1,
         'to': 14,
         'raise': 3,
         'inequality': 1,
         'opportunity': 1,
         'arising': 1,
         'differences': 2,
         'parental': 1,
         'current': 1,
         'little': 1,
         'mobility': 1,
         'scrapping': 1,
         'benefit': 1,
         'wealthiest': 1,
         'reforms': 1,
         'unfairness': 1,
         'negative': 1,
         'if': 1,
         'decides': 1,
         'after': 1,
         'an': 1,
         'alternative': 1,
         'work': 1,
         'spending': 1,
         'well-designed': 1,
         'this': 3,
         'kind': 1,
         'fair': 1,
         'efficient': 1,
         'way': 1,
         'without': 1,
         'excessive': 1,
         'administrative': 1,
         'costs': 1,
         'different': 1,
         'traits': 1,
         'affected': 1,
         'people’s': 1,
         'responses': 1,
         'lockdown': 1,
         'restriction': 1,
         'measures': 1,
         'introduced': 1,
         'their': 2,
         'fared': 1,
         'evidence': 1,
         'those': 2,
         'times': 1,
         'inform': 2,
         'more': 2,
         'effective': 1,
         'tailored': 1,
         'treatments': 1,
         'improve': 1,
         'wellbeing': 1,
         'underperformance': 1,
         'girls': 1,
         'women': 1,
         'relative': 1,
         'male': 1,
         'peers': 1,
         'loss': 1,
         'talent': 1,
         'that': 2,
         'may': 2,
         'hinder': 1,
         'developments': 1,
         'understanding': 1,
         'stereotypes': 1,
         'originate': 1,
         'evolve': 1,
         'us': 1,
         'achievement': 1,
         'disparate': 1,
         'treatment': 2,
         'not': 1,
         'construct': 1,
         'modern': 1,
         'institutions': 1,
         'irish': 1,
         'defendants': 1,
         'victims': 1,
         'faced': 1,
         'harsher': 1,
         'outcomes': 1,
         'london’s': 1,
         'old': 1,
         'bailey': 1,
         '19th': 1,
         'century': 1,
         'lessons': 1,
         'period': 1,
         'criminal': 1,
         'justice': 1,
         'today': 1,
         'higher': 1,
         'partly': 1,
         'blame': 1,
         'sluggish': 1,
         'countries': 1,
         'recent': 1,
         'decades': 1,
         'adverse': 1,
         'seems': 1,
         'less': 1,
         'severe': 1,
         'complex': 1,
         'produce': 1,
         'greater': 1,
         'diversity': 1,
         'products': 1,
         'based': 1,
         'specialised': 1,
         'know-how': 1,
         'junior': 1,
         'workforce': 1,
         'pursue': 1,
         'careers': 1,
         'elsewhere': 1,
         'staff': 1,
         'shortages': 1,
         'look': 1,
         'likely': 1,
         'worsen': 1,
         'coming': 1,
         'months': 1,
         'short': 1,
         'meeting': 1,
         'unions’': 1,
         'wage': 1,
         'demands': 1,
         'improvements': 1,
         'working': 1,
         'make': 1,
         'contribution': 1,
         'addressing': 1,
         'challenge': 1})

#### 3: Making a table

We now have a counter showing word frequencies. Using **Pandas**, we can turn this into a more useful table.

In [ ]:
df = pd.DataFrame(word_counter.items(), columns=["word", "count"])

sorted_df = df.sort_values(by="count", ascending=False)

sorted_df

          word  count
2          the     32
7           in     17
157         to     14
104        and     13
4           of     13
..         ...    ...
151        ten      1
152   children      1
153      going      1
154     hungry      1
292  challenge      1

[293 rows x 2 columns]

#### 4: Filter out Common words

The most common words in our word_counter are common words: "the", "to", "a", etc.

We should filter these out so we can learn more about the articles.

Thankfully, lots of lists of common words exist already. We'll download a common word list and only keep the word that do not appear in it.

In [ ]:
common_words = requests.get("https://raw.githubusercontent.com/6/stopwords-json/master/dist/en.json").json()

df_excl_common = sorted_df.query("word not in @common_words")

df_excl_common

             word  count
42            tax      5
5              uk      4
67         reduce      4
25   productivity      4
119        growth      3
..            ...    ...
147      concerns      1
151           ten      1
152      children      1
154        hungry      1
292     challenge      1

[224 rows x 2 columns]

#### Saving Our Data

We now have a table of how often words appear in Economics Observatory headlines and taglines.
Let's keep the words that appear more than twice and save the table.

In [ ]:
more_than_twice_df = df_excl_common.query("count >2")
more_than_twice_df.to_csv("eco_words.csv", index=False)

more_than_twice_df

            word  count
9   productivity      6
99        growth      4
30           tax      4
58        gender      3
13            uk      3
32          work      3
89          past      3
54        labour      3